#container
{
    height:2000px;
    width:2000px;
    position:relative;
}

#image
{    
    position:absolute;
    left:0;
    top:0;
}
#text
{
    z-index:100;
    position:absolute;  
    color:black;
	font-size:80px;
    left:1500px;
    top:825px;
}
#table
{
	position:absolute;
	width:1600px;
}

#grouptext
{

	position:absolute;
	left:3500px;
    top:200px;
    font-size:100px;
    width:300px;
    text-align:center;
}